body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./pictures/pexels-ibrahim-bilgin-10224346.jpg);
  width: 100%;
  height: 102vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
   
}

nav{
  margin-left: -16px;
  margin-top: -19px;
}
.logo{
    width: 12%;
    margin-left: 6%;
    margin-top: 2%;
}
ul {
    list-style-type: none;
    margin-top: 5%;
    margin-right: 10%;
    padding: 0;
    overflow: hidden;
    float: right;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;

  }
  
  li a:hover /* :not(.active)*/ { 
    background-color: rgb(255 155 73);
    border-radius: 2%;
    color: white;
  }
  /* .text{
    margin-left: 10%;
  } */
  h1{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  p{
    color: white;
    font-weight: bold;
    line-height: 2;
    margin-top: -3%;
    text-align: center;
  }
  .btn{
    border-color: rgb(255 155 73);
    padding: 20px;
    background-color: rgb(255 155 73);
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10%;
    font-size: 14px;
    margin-left: 23%;
  }
  .btn1{
    border-color: rgb(255 155 73);
    padding: 20px;
    background-color: rgb(255 155 73);
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10%;
    font-size: 14px;
    margin-left: 40%;
    position: relative;
    top: 46px;
  }
  .divc{
    margin-right: -14%;
    padding: 20px;
    background-color: #3c4043b0;
  }
  .btn-flex{
    display: block;
    margin-top: 5%;
  }
  .btn:hover{
    border-radius: 12px;
    border-color: rgb(255 155 73);
    color:rgb(255 155 73) ;
    background-color: white;
    text-decoration: none;
    border: solid 1px;
  }
  footer{
    margin-top: 10%;
    padding-bottom: 35px;
    padding-left: 100px;
    margin-left: -25px;
    border-top: 1px solid;
    border-color: orange;
  }
  .media{
    position: relative;
    top: 15px;
    left: 55px;
  }
  .copy{
    text-align: center;
    margin-top: -55px;
  }
  .number{
    margin-left: 74%;
    margin-top: -4%;
    text-decoration: none;
    margin-top: -55px;
  }
  .contact-form {
    width: 98%;
    float: right;
    margin-right: -8%;
    display: flex;
    margin-top: 5%;
}
label{
  font-weight: bold;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255 155 73);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255 155 73);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  /* margin-right: 10%; */
  font-size: 14px;
  margin-left: 45%;
}

input[type=submit]:hover {
  background-color: white;
  color: rgb(255 155 73);
  border: 1px solid;
  border-radius: 20%;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  border: 3px outset;
  border-color: orange;
  width: 75%;
  margin-left: 7%;
}
.phonec{
  margin-left: 65%;
}
@media screen and (max-width: 480px) {
  .phonec{
    display: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./pictures/pexels-ibrahim-bilgin-10224346.jpg);
    width: 100%;
    height: 102vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 105%;
    display: inline;
    flex-direction: column;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(255 155 73);
  margin-left: 3px;
  border: 1px solid;
  border-radius: 16%;
}
h1{
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
  list-style-type: none;
  margin-top: -1%;
  margin-right: 10%;
  padding: 48px;
  padding: 1px;
  flow: hidden;
  float: right;
}
.btn {
  border-color: rgb(255 155 73);
  padding: 12px;
  background-color: rgb(255 155 73);
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  /* margin-right: 10%; */
  font-size: 14px;
  margin-left: -16px;
  margin-right: 14%;
  position: relative;
  left: 30px;
}
p {
  color: white;
  font-weight: bold;
  line-height: 3;
  margin-top: -8%;
  text-align: center;
  margin-right: 32px;
}
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-right: -44%;
    position: relative;
    right: 76%;
    
  }
  .logo{
    width: 12%;
    margin-left: 6%;
    margin-top: 2%;
    display: none;
}
.btn-flex {
  display: block;
  margin-top: 8%;
  margin-right: -133%;
}
.copy {
  text-align: center;
  margin-top: 3px;
  margin-right: 119px;
  line-height: 16px;
  font-size: 13px;
}
h1 {
  font-size: 56px;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 35px;

}
.brn{
  display: none;
}
.number {
  margin-left: -84%;
  text-decoration: none;
  margin-top: 1px;
  font-size: 13px;
}
.media {
  position: relative;
  top: 5px;
  left: 25px;
  width: 374%;
}
.media a {
  margin-right: 8px;
  position: relative;
  left: -19px;
}
}
  

  
  /* .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
